<div class="wcm-infographic">
	<section class="wcm-infographic__items">
		<article class="wcm-infographic__item">
			<div class="wcm-infographic__icon-container"><span>1</span></div>
			<p class="wcm-infographic__text"></p>
		</article>
		<article class="wcm-infographic__item">
			<div class="wcm-infographic__icon-container"><span>2</span></div>
			<p class="wcm-infographic__text"></p>
		</article>
		<article class="wcm-infographic__item">
			<div class="wcm-infographic__icon-container"><span>3</span></div>
			<p class="wcm-infographic__text"></p>
		</article>
	</section>
	<button class="wcm-infographic__button">Lees ons verslag</button>
</div>
